<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Parts Shop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Car Parts Shop</h1>
        {% if 'user' in session %}
        <nav>
            {% if session['user'] == 'guest' %}
                <a href="/view_stock">View Stock</a>
                <form action="/search" method="get" class="search-bar">
                    <input type="text" name="query" placeholder="Search...">
                    <button type="submit">Search</button>
                </form>
            {% elif session['user'] == 'admin' %}
                <a href="/view_stock">View Stock</a>
                <a href="/selled_items">Selled Items</a>
                <a href="/delete_items">Delete Items</a>
                <a href="/add_items">Add Items</a>
                <a href="/update_price">Update Price</a>
                <a href="/view_report">View Report</a>
            {% endif %}
            <a href="/logout">Logout</a>
        </nav>
        {% else %}
        <nav>
            <a href="/login">Login</a>
        </nav>
        {% endif %}

        <!-- Display flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
