{% extends "base.html" %}

{% block content %}
    <h1>Buy Now: {{ item['name'] }}</h1>

    <p>Description: {{ item['description'] }}</p>
    <p>Price (Excl. VAT): {{ item['price_excl_vat'] }}</p>
    <p>Price (Incl. VAT): {{ item['price_incl_vat'] }}</p>
    <p>Remaining Items: {{ item['remaining_items'] }}</p>

    <form method="POST" action="{{ url_for('buy_now') }}">
        <label for="quantity">Quantity:</label>
        <input type="number" name="quantity" id="quantity" value="1" min="1" max="{{ item['remaining_items'] }}">
        <button type="submit" name="selected_item" value="{{ item['code'] }}">Buy</button>
    </form>

{% endblock %}
