{% extends "base.html" %}

{% block content %}
    <h1>Select Items to Buy</h1>

    <form method="POST" action="{{ url_for('buy_selected') }}">
        <ul>
            {% for item in accessories %}
                <li>
                    <h2>{{ item['name'] }}</h2>
                    <p>Price (Excl. VAT): {{ item['price_excl_vat'] }}</p>
                    <p>Price (Incl. VAT): {{ item['price_incl_vat'] }}</p>
                    <p>Remaining Items: {{ item['remaining_items'] }}</p>

                    <label for="quantity_{{ item['code'] }}">Quantity:</label>
                    <input type="number" name="quantity_{{ item['code'] }}" id="quantity_{{ item['code'] }}" value="1" min="1" max="{{ item['remaining_items'] }}">

                    <input type="checkbox" name="selected_items" value="{{ item['code'] }}"> Select
                </li>
            {% endfor %}
        </ul>

        <button type="submit">Buy Selected Items</button>
    </form>

    <p>Total Price: {{ total_price }}</p>

{% endblock %}
